pkgbase = jend-bin
	pkgdesc = JEND: Just Enough Network Drop - Modern, secure, P2P file transfer.
	pkgver = 2.6.1
	pkgrel = 1
	url = https://github.com/darkprince558/jend
	license = MIT
	conflicts = jend
	provides = jend
	arch = aarch64
	source_aarch64 = https://github.com/darkprince558/JEND/releases/download/v2.6.1/jend_Linux_arm64.tar.gz
	sha256sums_aarch64 = 4964582534b3a48e271bd8c1a115e1e515c187de612e2634732a7d90041e9fd7
	arch = x86_64
	source_x86_64 = https://github.com/darkprince558/JEND/releases/download/v2.6.1/jend_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 39b525c3a68e0ad5060171a6bc318d4d205d06ddfcde935b57740d040142f43d
	
pkgname = jend-bin
