pkgbase = jend-bin
	pkgdesc = JEND: Just Enough Network Drop - Modern, secure, P2P file transfer.
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/darkprince558/jend
	license = MIT
	conflicts = jend
	provides = jend
	arch = aarch64
	source_aarch64 = https://github.com/darkprince558/JEND/releases/download/v2.4.0/jend_Linux_arm64.tar.gz
	sha256sums_aarch64 = 643caef49e455225dd42a2cc45e82d5b75f3c858f7ae1e591823e4a8dedb1575
	arch = x86_64
	source_x86_64 = https://github.com/darkprince558/JEND/releases/download/v2.4.0/jend_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 00e31f110772d761730bb89276f6b9ca1132a8da85d85180bfd8615533e31870
	
pkgname = jend-bin
